**İmports and Reading Dataset**

In [ ]:
import pandas as pd
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import shapiro, levene, ttest_ind


pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.float_format', lambda x: '%.5f' % x)

dataframe_control = pd.read_excel("ab_testing.xlsx" , sheet_name="Control Group")
dataframe_test = pd.read_excel("ab_testing.xlsx" , sheet_name="Test Group")

df_control = dataframe_control.copy()
df_test = dataframe_test.copy()

**General İnformation of Dataset**

In [2]:
def information(df):
    print("###############################    Shape  ##################################")
    print(df.shape)
    print("###############################    Types  ##################################")
    print(df.dtypes)
    print("###############################    Head   ##################################")
    print(df.head())
    print("###############################    Tail   ##################################")
    print(df.tail())
    print("###############################    NA     ##################################")
    print(df.isnull().sum())
    print("############################### Quantiles ##################################")
    print(df.describe([0, 0.05, 0.50, 0.95, 0.99, 1]).T)

information(df_control)
information(df_test)

###############################    Shape  ##################################
(40, 4)
###############################    Types  ##################################
Impression    float64
Click         float64
Purchase      float64
Earning       float64
dtype: object
###############################    Head   ##################################
    Impression      Click  Purchase    Earning
0  82529.45927 6090.07732 665.21125 2311.27714
1  98050.45193 3382.86179 315.08489 1742.80686
2  82696.02355 4167.96575 458.08374 1797.82745
3 109914.40040 4910.88224 487.09077 1696.22918
4 108457.76263 5987.65581 441.03405 1543.72018
###############################    Tail   ##################################
     Impression      Click  Purchase    Earning
35 132064.21900 3747.15754 551.07241 2256.97559
36  86409.94180 4608.25621 345.04603 1781.35769
37 123678.93423 3649.07379 476.16813 2187.72122
38 101997.49410 4736.35337 474.61354 2254.56383
39 121085.88122 4285.17861 590.40602 1289.30895
###############################    NA     ##################################
Impression    0
Click         0
Purchase      0
Earning       0
dtype: int64
############################### Quantiles ##################################
              count         mean         std         min          0%          5%         50%          95%          99%         100%          max
Impression 40.00000 101711.44907 20302.15786 45475.94296 45475.94296 79412.01792 99790.70108 132950.53245 143105.79110 147539.33633 147539.33633
Click      40.00000   5100.65737  1329.98550  2189.75316  2189.75316  3367.48426  5001.22060   7374.36120   7761.79511   7959.12507   7959.12507
Purchase   40.00000    550.89406   134.10820   267.02894   267.02894   328.66242   531.20631    748.27076    790.18779    801.79502    801.79502
Earning    40.00000   1908.56830   302.91778  1253.98952  1253.98952  1329.57708  1975.16052   2318.52850   2481.30874   2497.29522   2497.29522
###############################    Shape  ##################################
(40, 4)
###############################    Types  ##################################
Impression    float64
Click         float64
Purchase      float64
Earning       float64
dtype: object
###############################    Head   ##################################
    Impression      Click  Purchase    Earning
0 120103.50380 3216.54796 702.16035 1939.61124
1 134775.94336 3635.08242 834.05429 2929.40582
2 107806.62079 3057.14356 422.93426 2526.24488
3 116445.27553 4650.47391 429.03353 2281.42857
4 145082.51684 5201.38772 749.86044 2781.69752
###############################    Tail   ##################################
     Impression      Click  Purchase    Earning
35  79234.91193 6002.21358 382.04712 2277.86398
36 130702.23941 3626.32007 449.82459 2530.84133
37 116481.87337 4702.78247 472.45373 2597.91763
38  79033.83492 4495.42818 425.35910 2595.85788
39 102257.45409 4800.06832 521.31073 2967.51839
###############################    NA     ##################################
Impression    0
Click         0
Purchase      0
Earning       0
dtype: int64
############################### Quantiles ##################################
              count         mean         std         min          0%          5%          50%          95%          99%         100%          max
Impression 40.00000 120512.41176 18807.44871 79033.83492 79033.83492 83150.50378 119291.30077 153178.69106 158245.26380 158605.92048 158605.92048
Click      40.00000   3967.54976   923.09507  1836.62986  1836.62986  2600.36102   3931.35980   5271.18691   6012.87730   6019.69508   6019.69508
Purchase   40.00000    582.10610   161.15251   311.62952   311.62952   356.69540    551.35573    854.20895    876.57610    889.91046    889.91046
Earning    40.00000   2514.89073   282.73085  1939.61124  1939.61124  2080.97621   2544.66611   2931.31145   3091.94089   3171.48971   3171.48971

**Concatenation of Datasets**

In [3]:
df_control["group"] = "Control"
df_test["group"] = "Test"

df = pd.concat([df_control,df_test], axis=0,ignore_index=False)
df.head()

    Impression      Click  Purchase    Earning    group
0  82529.45927 6090.07732 665.21125 2311.27714  Control
1  98050.45193 3382.86179 315.08489 1742.80686  Control
2  82696.02355 4167.96575 458.08374 1797.82745  Control
3 109914.40040 4910.88224 487.09077 1696.22918  Control
4 108457.76263 5987.65581 441.03405 1543.72018  Control

**Defining the A/B Test Hypothesis**

H0: M1 = M2

There is no difference between the purchasing averages of the control group and the test group.

H1: M1 != M2

There is a difference between the purchasing averages of the control group and the test group.

In [4]:
df.groupby("group").agg({"Purchase": "mean"})

         Purchase
group
Control 550.89406
Test    582.10610

We do not know whether this difference statistically actually exists. To demonstrate this the reality of the difference, we must perform hypothesis testing.

**Performing Hypothesis Testing**

Before testing the hypothesis, check the assumptions. These are Assumption of Normality and Homogeneity of Variance.

**Normality Assumption**

H0: Normal distribution assumption is provided.

H1: Normal distribution assumption not provided

p < 0.05 H0 REJECTABLE

p > 0.05 H0 CANNOT BE REJECTED

In [6]:
test_stat, pvalue = shapiro(df.loc[df["group"] == "Control", "Purchase"])
print('Test Stat = %.4f, p-value = %.4f' % (test_stat, pvalue))

Test Stat = 0.9773, p-value = 0.5891

H0 CANNOT BE REJECTED

In [7]:
test_stat, pvalue = shapiro(df.loc[df["group"] == "Test", "Purchase"])
print('Test Stat = %.4f, p-value = %.4f' % (test_stat, pvalue))

Test Stat = 0.9589, p-value = 0.1541

H0 CANNOT BE REJECTED

We can say that the values of the control and test groups provide the assumption of normal distribution.

**Variance Homogeneity**

H0: Variances are homogeneous.

H1: Variances are not homogeneous.

p < 0.05 H0 REJECTABLE

p > 0.05 H0 CANNOT BE REJECTED

Both assumptions are provided so, we'll use Parametric T-test

**Independent two-sample t-test (Parametric test)**

In [10]:
test_stat, pvalue = ttest_ind(df.loc[df["group"] == "Control", 'Purchase'],
                           df.loc[df["group"] == "Test", 'Purchase'],
                              equal_var=True)

print('Test Stat = %.4f, p-value = %.4f' % (test_stat, pvalue))

Test Stat = -0.9416, p-value = 0.3493

p-value > 0.05 

H0 CANNOT BE REJECTED

There is no real purchase difference between, maximum and average bidding types.